@use '../variables' as *;

.siever {
  &__item--dragging {
    transform-origin: var(--siever-item-transform-origin, 0% 0%) !important;
    translate: var(--siever-item-translate, 0 0) !important;
    transition: box-shadow 0.3s ease !important;
    cursor: grabbing !important;
  }

  &__item--draggable {
  }

  &__drag-handle {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    cursor: grab;
  }
}
