@use '../variables' as *;

.siever {
  &__item {
    &[data-drag='true'] {
      transform-origin: var(--siever-item-transform-origin, 0% 0%);
      translate: var(--siever-item-translate, 0 0);
      translate: var(--siever-item-translate, 0 0);
      z-index: 9999;
      cursor: grabbing;
    }
  }

  &__item--clone {
    opacity: 0.1;
    z-index: 0;
    transition: all 0.3s ease !important;
    background-color: red;
  }

  &__drag-handle {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    cursor: grab;
  }
}
