@use './variables' as *;

.siever {
  &__grid {
    position: relative;
    box-sizing: border-box;
    border: 1px solid $border;
    border-radius: $radius;
  }

  &__grid-container {
    position: relative;
    box-sizing: border-box;
    width: var(--siever-grid-content-width);
    height: var(--siever-grid-content-height);
  }
}
